    #form {
            width: 90%;
            max-width: 500px;
        }
        body {
            height: 100vh;
            background: linear-gradient(135deg, #101010, #2c2c2c);
            color: #ffffff
        }

        .text-low {
            text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.6); 
        }
        .text-medium { 
            text-shadow: 3px 3px 8px rgba(255, 0, 0, 0.7); 
        }
        .text-high { 
            text-shadow: 4px 4px 12px rgba(255, 0, 0, 0.9); 
        }
        .text-extreme { 
            text-shadow: 5px 5px 15px rgba(255, 0, 0, 1); 
        }
        .text-ultra { 
            text-shadow: 6px 6px 20px rgba(255, 0, 0, 1), 0 0 25px rgba(255, 50, 50, 1); 
        }
        .success-glow { 
            text-shadow: 6px 6px 20px rgba(78, 195, 24, 0.8), 0 0 25px rgba(44, 211, 22, 1); 
            color:  rgb(59, 205, 59) !important;
        }
        .custom-bg {
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
